<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= image_url 'homepage.jpg' %>); background-position: center center;">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-3">
      <%= image_tag("bouche.png", size: "300") %>
    </div>
    <div class="col-xs-5">
      <h1 style="font-family: 'Roboto', sans-serif;">Anenke produit des appareils orthodontiques amovibles entièrement imprimés en 3D.</h1>
    </div>
  </div>
</div>

<div class="wrapper-colored">
  <div class="container text-center">
    <h2><strong> Bénéfices </strong></h2>
    <div class="row">
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>Une précision jamais atteinte, une qualité et un confort inédits.</h4>
      </div>
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>2 ans de R&D en partenariat avec des spécialistes mondiaux de l'impression 3D au MIT.</h4>
        <div class="dashedline"></div>
        <h4>Résines biocompatibles certifiées.</h4>
      </div>
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>Garantie et service : en cas de problème, nous remplaçons votre appareil.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>Des appareils moins chers grâce à une technologie innovante.</h4>
      </div>
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>Livraison en 5 jours partout en France métropolitaine..</h4>
      </div>
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>Développement durable, économe en matière.</h4>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container text-center">
    <h2><strong> Comment ça marche ? </strong></h2>
    <div class="row">
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>Envoi de l'empreinte 3D et de la prescription.</h4>
      </div>
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>Conception et impression de l'appareil choisi.</h4>
      </div>
      <div class="col-xs-4">
        <div class="dashedline"></div>
        <h4>Livraison en 5 jours ouvrés.</h4>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-colored">
  <div class="container">
    <h2 class="text-center"><strong> L'équipe </strong></h2>
    <div class="row">
      <div class="col-xs-6">
        <div> <%= image_tag "greg.jpg", class: "badge-round text-center" %> </div>
        <h4 class="text-center"><strong> Grégoire Schiller</strong></h4>
      </div>
      <div class="col-xs-6">
        <h4>Diplômé d'HEC Paris. Après plusieurs années en conseil en stratégie à Paris, Grégoire a dirigé une startup ecommerce dans 4 pays en Asie. Il a ensuite suivi une formation de programmation web. Grégoire est CEO d'Anenke, en charge du Commercial et du Marketing</h4>
      </div>
    </div>

  </div>
</div>
